<form method="post" action="{{ path('app_annonce1_delete', {'id_annonce': annonces.getIdAnnonce()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ annonces.getIdAnnonce()) }}">
    <button class="btn">Delete</button>
</form>
