<form method="post" action="{{ path('app_evenement_delete', {'id_evenement': evenement.getIdEvenement()}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.getIdEvenement()) }}">
    <button class="btn">Delete</button>
</form>
