{% extends 'base.html.twig' %}

{% block body %}
    <h1>Feedback</h1>

    {{ form_start(form) }}
    {{ form_row(form.message) }}

    <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}
